@font-face {
    font-family: 'BigNoodleTitling';
    src: url('../fonts/big-noodle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Autography';
    src: url('../fonts/autograph.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


